*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: left;
  background-color: #fff;

}
.panelLoginCel{
    display: none;
}
.cajaIzquierdaAfuera{
    z-index: -1;
    width: 34%;
    height: 100%;
    /* height: 625px; */
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient( 45deg,rgba(40, 204, 133, 0.87) 0%, rgba(71, 148, 115, 1) 100% ); 
}

.caja1{
    border-radius: 15px;
    margin: 50px auto;
    width: 80%;
    height: 500px;
    box-shadow: 5px 5px 9px 10px rgba(0, 0, 0, 0.16);
    display: flex;

}
.panelIzquierda{
    width: 30%;
    text-align: center;
}
.panelIzquierda img{
    width: 70%;
    margin-top: 90px;
}
.textoenLogo{
    font-size: 1rem;
    
}
.frmLogin{  
    width: 40%;
    margin: 40px auto;
}

.frmLogin h2{
    width: 100%;
    text-align: center;
    font-size: 1.7rem;
    color: #000000;
}

.cajaLogin{
   display: flex;
   flex-direction: column;
}
.item{
    margin-top: 20px;
    margin-bottom: 15px;
}
.item label{
    text-transform: uppercase;
    font-weight: bold;
}
.itemTexto{
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.itemTexto:focus {
    color: #677e6c;
    background-color: #fff;
    border-color:  #00D69B;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 255, 191, 0.25);
}
.accionesLogin{
    margin-top: 10px;
    text-align: center;
}
.btnlogin{
    cursor: pointer;
    background-image: linear-gradient(45deg, rgba(40, 204, 133, 0.87) 0%, rgba(71, 148, 115, 1) 100% );
    width: 50%;
    padding: 12px 10px;
    border-radius: 5px;
    border: none;
    border-image: none;
}
.btnlogin:hover{
    background-color:  #05664a; 
}
.recupContraseña{
    text-decoration: none;
    color: #495057;
    text-align: right;
}
.recupContraseña:hover{
    color:rgb(36, 187, 137) ;
}
.footer{
    width: 500px;
    position: absolute;
    left: 20px;
}
.footer_text{
    color: #707070;
    font-weight: 600;
}
/* CEL */
@media (max-width: 450px){
    .cajaIzquierdaAfuera{
        width: 100%;
        height: 37%;
    }
    .panelLoginCel{
        display: block;
        margin-top: 80px;
        padding: 3px;
    }
    .panelLoginCel img{
        width: 120px;
    }
    .panelIzquierda{
        display: none;
    }
    .caja1{
        background-color: #fff;
        margin-top: 200px;
        width: 100%;
        height: 370px;
        box-shadow: none;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    .frmLogin{
        width: 100%;
        margin: 20px;
    }
    .frmLogin h2{
        font-size: 1.5rem;
    }
    .footer{
    width: 300px;
    }
    .footer_text{
        font-size: 0.7rem;
    }
}